[Unit]
Description=Rackdirector
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rackdirector
ExecStart=/opt/rackdirector/rackdirector
Restart=on-failure

[Install]
WantedBy=multi-user.target
